* {
    background-color: black;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes spin-reverse {
    from {
        --angle: 360deg;
    }
    to {
        --angle: 0deg;
    }
}

@keyframes animate {
    from {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    to {
        width: 270px;
        height: 270px;
        opacity: 0;
    }
}

.container {    
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 3fr;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vmin;
    z-index: 1;
}

.card-box {
    order: 0;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    max-width: 580px;
    display: none;
    margin-left: 30px;
    background-color: black;
    position: relative;
    transition: all 1s ease;
}

.card-box[data-status="unknown"] {
    transform: scale(0);
}

.card-box[data-status="active"] {
    transition-delay: 300ms;
}

.card-box[data-status="after"] {
    transform: translateX(50%) scale(0);
}

.card-box[data-status="before"] {
    transform: translateX(-50%) scale(0);
}

.card-box[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
}

.card-box[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
}

.card-box.active, .copied-box.active {
    display: block;
}

 .card-box::after, .card-box::before, .copied-box::after, .copied-box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;    
    translate: -50% -50%;
    z-index: -1;
    padding: 0.1rem;
    border-radius: 0.5rem;    
}

.card-box::before, .copied-box::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.card-box::before {
    background-image: conic-gradient(from var(--angle), red, blue, green, purple);
    animation: 5s spin linear infinite;
}

.card-box::after {
    background-color: black;
}

.copied-box::after, .copied-box::before {
    background-image: conic-gradient(from var(--angle), purple, green, blue, red);
    animation: 5s spin-reverse linear infinite;
}

.copied-box {
    order: 1;
    width: 100%;
    padding: 20px; 
    background-color: black;
    border-radius: 8px;
    max-width: 580px;
    display: none;
    margin-left: -5px;
    position: relative;
}

.red-tier h2 {
    border-bottom: 2px solid red;
}

.blue-tier h2 {
    border-bottom: 2px solid blue;
}

.green-tier h2 {
    border-bottom: 2px solid green;
}

.penalty-tier h2 {
    border-bottom: 2px solid purple;
}

h2, h3 {
    color: white;    
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

h3 {   
    border-bottom: 2px solid yellow;
}

.card-images, .copied-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.card-images img, .copied-images img {
    width: 11vmin;
    height: auto;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid white;
}

.copied-images img {   
    border: 2px solid black;
}

.card-images img:hover, .copied-images img:hover {
    transform: scale(1.2);
} 

.animated-clone, .animated-clone-back {
    position: absolute;
    width: 11vmin;
    border-radius: 0.4rem;
    height: auto;
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 1000;
    border: 2px solid black;
}

.animated-clone-back {    
    width: 13vmin;
    transition: all 1s ease;  
}
    
.red-tier .card-images img {
    box-shadow: 0 0 11px red;
}

.blue-tier .card-images img {
    box-shadow: 0 0 11px blue;
}

.green-tier .card-images img {
    box-shadow: 0 0 11px green;
}

.penalty-tier .card-images img {
    box-shadow: 0 0 11px purple;
}

.controls, .copy-controls, .screenshot-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 390px;
    background-color: transparent;    
}

.controls button, .copy-controls button, .screenshot-button button {
    position: relative;
    white-space: nowrap;
    color: white; 
    border: 3px solid white;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.5s ease;
    overflow: hidden;    
}

button:nth-child(1){
    box-shadow: 0 0 10px red;
}

button:nth-child(2){
    box-shadow: 0 0 10px yellow;
}

button:hover:nth-child(1){
    border: 3px solid red;
    text-shadow: -1px -1px 3px red,  
    1px -1px 3px red,
    -1px 1px 3px red,
    1px 1px 3px red;
}

button:hover:nth-child(2){    
    border: 3px solid yellow;
    text-shadow: -1px -1px 3px yellow,  
    1px -1px 3px yellow,
    -1px 1px 3px yellow,
    1px 1px 3px yellow;
}

.controls button:hover, .copy-controls button:hover, .screenshot-button button:hover {    
    transform: scale(1.1); 
    color: black;   
}

.screenshot-button {
    position: absolute;
    justify-content: center;
    top: -10%;
    left: 46%;
    background-color: transparent;
}

.screenshot-button button {
    box-shadow: 0 0 10px blue;
}

.screenshot-button button:hover {
    border: 3px solid blue;
    text-shadow: -1px -1px 3px blue,
    1px -1px 3px blue,
    -1px 1px 3px blue,
    1px 1px 3px blue;    
}

button span {
    position: absolute;
    background:white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

.color-red {
    color: black;
    text-shadow: -1px -1px 10px red,  
    1px -1px 10px red,
    -1px 1px 10px red,
    1px 1px 10px red;
}

.color-blue {
    color: black;
    text-shadow: -1px -1px 10px blue,  
    1px -1px 10px blue,
    -1px 1px 10px blue,
    1px 1px 10px blue;
}

.color-green {
    color: black;
    text-shadow: -1px -1px 10px green,  
    1px -1px 10px green,
    -1px 1px 10px green,
    1px 1px 10px green;
}

.color-penalty {
    color: black;
    text-shadow: -1px -1px 10px purple,  
    1px -1px 10px purple,
    -1px 1px 10px purple,
    1px 1px 10px purple;
}

.color-yellow {
    color: black;
    text-shadow: -1px -1px 10px yellow,  
    1px -1px 10px yellow,
    -1px 1px 10px yellow,
    1px 1px 10px yellow;
}

@media (max-width: 1500px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .card-box.active, .copied-box.active {
        left: -3%;
        margin: 15px;
    }       
    
    .card-box{
        margin-top: 15px;
        margin-left: -9px;
    }
  
    .controls, .copy-controls, .screenshot-button {
        flex-direction: column;
        position: relative;
        margin-top: 10px;
    }

    .screenshot-button {
        left: 0%;
        margin-top: 20px;
    }    
}
   