* {
    background-color: black;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

.container {    
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 3fr;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    z-index: 1;
}

.card-box {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    max-width: 580px;
    display: none;
    margin-left: 30px;
    background-color: black;
    position: relative;
}

.copied-box {
    order: 1;
    width: 100%;
    padding: 20px; 
    background-color: black;
    border-radius: 8px;
    max-width: 580px;
    display: none;
    margin-left: -5px;
    position: relative;
}

.card-box.active, .copied-box.active {
    display: block;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card-box::after, .card-box::before, .copied-box::after, .copied-box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;    
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;    
}

.card-box::after, .card-box::before {
    background-image: conic-gradient(from var(--angle), red, blue, green, purple);
    animation: 5s spin linear infinite;
}

.copied-box::after, .copied-box::before {
    background-image: conic-gradient(from var(--angle), purple, green, blue, red);
    animation: 5s spin-reverse linear infinite;
}

.card-box::before, .copied-box::before {
    filter: blur(1.2rem);
    opacity: 0.8;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes spin-reverse {
    from {
        --angle: 360deg;
    }
    to {
        --angle: 0deg;
    }
}


.red-tier h2 {
    border-bottom: 2px solid red;
}

.blue-tier h2 {
    border-bottom: 2px solid blue;
}

.green-tier h2 {
    border-bottom: 2px solid green;
}

.penalty-tier h2 {
    border-bottom: 2px solid purple;
}

h2, h3 {
    color: white;    
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

h3 {   
    border-bottom: 2px solid yellow;
}

.card-images, .copied-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.card-images img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid white;
}

.copied-images img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-images img:hover, .copied-images img:hover {
    transform: scale(1.2);
} 

.animated-clone {
    position: absolute;
    width: 6%;
    border-radius: 10px;
    border: 2px solid white;
    height: auto;
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 1000;
}

.animated-clone-back {
    position: absolute;
    width: 7%;
    border-radius: 10px;
    border: 2px solid black;
    height: auto;
    transition: all 1s ease;
    pointer-events: none;
    z-index: 1000;
}
    
.red-tier .card-images img {
    box-shadow: 0 0 11px red;
}

.blue-tier .card-images img {
    box-shadow: 0 0 11px blue;
}

.green-tier .card-images img {
    box-shadow: 0 0 11px green;
}

.penalty-tier .card-images img {
    box-shadow: 0 0 11px purple;
}

.controls, .copy-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 390px;
    border-radius: 20px;
    background-color: transparent;
}

.controls button, .copy-controls button {
    background-color: black;
    white-space: nowrap;
    color: white;
    box-shadow: 0 0 10px red;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.5s ease;
}

.controls button:hover, .copy-controls button:hover {
    color: black;
    border: 3px solid red;
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    text-shadow: -1px -1px 3px red,  
    1px -1px 3px red,
    -1px 1px 3px red,
    1px 1px 3px red;
}

.color-red {
    color: black;
    text-shadow: -1px -1px 10px red,  
    1px -1px 10px red,
    -1px 1px 10px red,
    1px 1px 10px red;
}

.color-blue {
    color: black;
    text-shadow: -1px -1px 10px blue,  
    1px -1px 10px blue,
    -1px 1px 10px blue,
    1px 1px 10px blue;
}

.color-green {
    color: black;
    text-shadow: -1px -1px 10px green,  
    1px -1px 10px green,
    -1px 1px 10px green,
    1px 1px 10px green;
}

.color-penalty {
    color: black;
    text-shadow: -1px -1px 10px purple,  
    1px -1px 10px purple,
    -1px 1px 10px purple,
    1px 1px 10px purple;
}

.color-yellow {
    color: black;
    text-shadow: -1px -1px 10px yellow,  
    1px -1px 10px yellow,
    -1px 1px 10px yellow,
    1px 1px 10px yellow;
}


/* #screenshot-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 380px;
}

#screenshot-button{
    background-color: black;
    white-space: nowrap;
    color: white;
    box-shadow: 0 0 20px red;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s ease;
    font-size: 14px;
    font-weight: bold;
}

#screenshot-button:hover {
    background-color:black;
    color: red;
    border: 2px solid red;
    box-shadow: 0 0 20px white;
    transform: scale(1.2);
    transition: all 0.5s ease; 
} */
